body {
  background-color: lightgray;
}

ul li {
  list-style: none;
  margin-left: 20%;
  
}

i {
  font-size: 2vw;
}

h1 {
  text-transform: uppercase;
  margin-left: 20%;
}

.search-bars {
  background-color: #FFF;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
}

.search-bars > input {
  height: 40px;
  font-size: 1vw;
  width: 100%;
  border: 0;
  border-bottom: 2px solid lightgray;
}

.search-bars > input:focus {
  outline: none;
  border-bottom: 2px solid #000000; 
}

.students {
  background-color: #FFF;
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.students img {
  border-radius: 100px;
  border: 1px solid lightgray;
  width: 100px;
  height: 100px;
  float: left;
}

.tagInput {
  margin-left: 20%;
  height: 20px;
  font-size: 1vw;
  width: 20%;
  border: 0;
  border-bottom: 2px solid lightgray;
}

.tagInput:focus {
  outline: none;
  border-bottom: 2px solid #000000; 
}

.Collapsible span {
  /* float: right; */
  /* overflow: auto; */
  margin: 0;
  font-size: 3vw;
  cursor: pointer;
}

/* span.Collapsible__trigger.is-open:before {
  content: "-";
} */

/* span.Collapsible__trigger.is-closed:after {
  content: "+";
} */


.Collapsible__contentInner {
  font-size: 14px;
}

/* .Collapsible__contentOuter {
  float: none;
} */

